<div *ngIf="task" class="task-detail">
  <div class="task-header">
    <h1>{{ task.title }}</h1>
    <div class="task-actions">
      <button mat-icon-button [matMenuTriggerFor]="taskMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #taskMenu="matMenu">
        <button mat-menu-item routerLink="/tasks/{{ task.id }}/edit">
          <mat-icon>edit</mat-icon>
          <span>Edit Task</span>
        </button>
        <button mat-menu-item routerLink="/tasks/{{ task.id }}/share">
          <mat-icon>share</mat-icon>
          <span>Share Task</span>
        </button>
        <button mat-menu-item (click)="deleteTask()">
          <mat-icon color="warn">delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="task-meta">
    <div class="meta-item">
      <mat-icon>calendar_today</mat-icon>
      <span>Created: {{ task.createdAt | date : "mediumDate" }}</span>
    </div>
    <div class="meta-item">
      <mat-icon>update</mat-icon>
      <span>Last updated: {{ task.updatedAt | date : "mediumDate" }}</span>
    </div>
    <div class="meta-item">
      <mat-icon>event</mat-icon>
      <span
        >Due:
        {{
          task.dueDate ? (task.dueDate | date : "mediumDate") : "No due date"
        }}</span
      >
    </div>
    <div class="meta-item">
      <mat-icon>priority_high</mat-icon>
      <span [class]="'priority-' + task.priority.toLowerCase()">{{
        task.priority
      }}</span>
    </div>
    <div class="meta-item" *ngIf="task.category">
      <mat-icon>category</mat-icon>
      <span>
        <mat-chip [style.background]="task.category.color">
          {{ task.category.name }}
        </mat-chip>
      </span>
    </div>
    <div class="meta-item" *ngIf="task.sharedWith?.length">
      <mat-icon>people</mat-icon>
      <span>Shared with {{ task.sharedWith.length }} user(s)</span>
    </div>
  </div>

  <div class="task-description">
    <h3>Description</h3>
    <p>{{ task.description || "No description provided" }}</p>
  </div>

  <div class="task-comments">
    <h3>Comments ({{ comments.length }})</h3>
    <app-comment-form
      [taskId]="task.id"
      (commentAdded)="addComment($event)"
    ></app-comment-form>

    <div *ngIf="comments.length === 0" class="empty-comments">
      <mat-icon>forum</mat-icon>
      <p>No comments yet. Be the first to comment!</p>
    </div>

    <div *ngFor="let comment of comments" class="comment-item">
      <div class="comment-header">
        <div class="comment-author">
          <div class="author-avatar">
            {{ comment.author.firstName.charAt(0)
            }}{{ comment.author.lastName.charAt(0) }}
          </div>
          <div>
            <strong
              >{{ comment.author.firstName }}
              {{ comment.author.lastName }}</strong
            >
            <small>{{ comment.createdAt | date : "medium" }}</small>
          </div>
        </div>
        <div *ngIf="isCommentOwner(comment)" class="comment-actions">
          <button
            mat-icon-button
            (click)="editComment(comment)"
            matTooltip="Edit"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="deleteComment(comment.id)"
            matTooltip="Delete"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="comment-content">
        {{ comment.content }}
      </div>
    </div>
  </div>
</div>
