@use "@angular/material" as mat;
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.mb-2 {
  margin-bottom: 2rem;
}

.full-width {
  width: 100%;
}
